@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 10px;
}

.title {
    width: 90vw;
    display: grid;

}

.name {
    font-size: clamp(4rem, 5vw, 10rem);
    text-transform: uppercase;
    color: white;
    justify-self: center;
    line-height: 1;
}

.name span {
    padding-left: 5vw;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.last_name {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    margin-top: 1rem;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.2vw;
    transform: scale(0.80);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}